@page
@model BookListsWebApp.Pages.Books.EditModel
@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit Book</h1>
<hr />

<div class="row">
    <div class="col-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <input type="hidden" asp-for="Book.Id" />

            <div class="form-group mt-2">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <a asp-page="./Index" class="btn btn-danger">Back to Listing</a>
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
