@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-lg-6 mx-auto rounded border p-3">
        <h2 class="text-center mb-3">Register</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
            <div class="row mb-3">
                <label class="col-sm-4 col-form-lable" asp-for="Input.FirstName">First Name</label>
                <div class="col-sm-8">
                    <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Enter first name" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-lable" asp-for="Input.LastName">Last Name</label>
                <div class="col-sm-8">
                    <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Enter last name" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-lable" asp-for="Input.Email">Email</label>
                <div class="col-sm-8">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row mb-3">
                <label class="col-sm-4 col-form-lable" asp-for="Input.Password">Password</label>
                <div class="col-sm-8">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row mb-3">
                <label class="col-sm-4 col-form-lable" asp-for="Input.ConfirmPassword">Confirm Password</label>
                <div class="col-sm-8">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <button id="registerCancel" type="button" class="w-100 btn btn-lg btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
